body{
    background-color: #f4f4f4 !important;
}

nav{
    background-color: #ff3556e3;
    padding: 0px !important;
}

.LogoImg, .LogoTitle{
    background: transparent;
    padding: .25rem;
}

.images-header{
    padding: 0px !important;
}

.form-select:focus{
    border-color: none !important;
}

#addToJar{
    color : white;
    background-color: #ff3556e3;
    outline: none;
    border-color: #ff3556e3;
}

#addToJar{
    color : white;
    background-color: #ff3556e3;
}

.accordion-item:nth-child(even) .accordion-button{
    background-color: #ff3556e3;
    color : white;
    font-weight: bold;
}
.accordion-item:nth-child(odd) .accordion-button{
    font-weight: bold;
}

.table-responsive-sm {
    max-height: 500px;
    overflow-y: auto;
}

.total-calories-text{
    font-family: 'HappyMonkey-Regular';
    font-size: 26px;
    font-weight: bold;
}

.toast{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}