@font-face {
  font-family: 'Lato-Regular';
  src: local('MyFont'), url(./assets/fonts/Lato-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'HappyMonkey-Regular';
  src: local('MyFont'), url(./assets/fonts/HappyMonkey-Regular.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: 'Lato-Regular' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mobile-only {
  display: none; /* Hide by default */
}

@media (max-width: 768px) {
  .mobile-only {
    display: block; /* Show on mobile */
  }
}
